@import "variabels";

* {
  font-family: Vazir;
  color: $dark !important;
}

a {
  text-decoration: none;
}

.logo {
  & h1 {
    margin-top: 1rem;
    margin-bottom: -0.625rem;
    z-index: 1;
  }
  & img {
    height: 3.5rem;
    z-index: 0;
  }
}

.search-form,
.social-network {
  & a {
    padding: 0 0.25rem;
  }
  & img {
    width: 1.5rem;
  }
}

nav.navbar {
  & ul.navbar-nav {
    & .nav-link {
      padding: 0.5rem 1.5rem !important;
    }
    & .dropdown-toggle {
      &::after {
        color: $primary !important;
      }
    }
  }
}

#carouselExampleCaptions {
  & .carousel-indicators {
    flex-direction: column !important;
    margin-right: 2% !important;
    & button {
      height: 1.25rem !important;
      width: 1.25rem !important;
      border-radius: 50% !important;
      border: 2px solid $primary !important;
      background-color: $primary !important;
      box-shadow: inset 0 0 0 3px $white !important;
      margin: 0.125rem !important;
      &.active {
        border: 2px solid $white !important;
        background-color: $white !important;
        box-shadow: inset 0 0 0 3px $primary !important;
      }
    }
  }
  & .carousel-inner {
    & .carousel-item {
      & .carousel-caption {
        right: 10% !important;
        left: 40% !important;
        bottom: 4rem !important;
        & h5 {
          font-size: 2rem !important;
        }
      }
    }
  }
  & .carousel-control {
    &-next,
    &-prev {
      display: none !important;
    }
  }
}

.category {
  & .header {
    // background-image: url("../img/arrow-right.svg") !important;
    // background-image: url("../img/arrow-left.svg") !important;
    background-image: url("../img/arrow-right.svg"),
      url("../img/arrow-left.svg") !important;
    background-position: right top, left top;
    background-size: 30% 30%, 30% 30%;
    background-repeat: no-repeat, no-repeat !important;
  }
  & .col-md {
    & > div {
      border-radius: 1rem !important;
    }
    & img {
      height: 10rem !important;
      width: 10rem !important;
    }
  }
}
