* {
  font-family: Vazir;
}
html {
  direction: rtl !important;
}
.navbar {
  &-brand {
    font-size: 1.5rem !important;
    font-weight: bold !important;
  }
  .nav {
    &-link {
      font-size: 1rem !important;
      padding: 0.5rem 1rem !important;
      color: rgba(255, 255, 255, 0.75) !important;
      font-weight: 500 !important;
      &:hover {
        color: rgba(255, 255, 255, 0.95) !important;
      }
    }
  }
}

.landing {
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  & .cover {
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}
