@import "variabels";

* {
  font-family: Vazir;
  color: $dark !important;
}
a {
  text-decoration: none;
}

.logo {
  & h1 {
    margin-top: 1rem;
    margin-bottom: -0.625rem;
    z-index: 1;
  }
  & img {
    height: 3.5rem;
    z-index: 0;
  }
}

.search-form,
.social-network {
  & a {
    padding: 0 0.25rem;
  }
  & img {
    width: 1.5rem;
  }
}

nav.navbar {
  & ul.navbar-nav {
    & .nav-link {
      padding: 0.5rem 1.5rem !important;
    }
    & .dropdown-toggle {
      &::after {
        color: $primary !important;
      }
    }
  }
}

#carouselExampleCaptions {
  & .carousel-inner {
    & .carousel-item {
      background-color: #a55151 !important;
    }
  }
}
