* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div {
    font-size: 1.3rem;
    background-color: #e6e6e6;
}
div > div {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 2px solid #000000;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
} */


.main {
    width: 100%;
    height: 100vh;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .login {
    width: 30%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0px 3px 10px #868686;
    padding: 1rem;
}
.main .login h1 {
    text-align: center;
    background-color: #024daf;
    padding: 2rem;
    color: #f8f8f8;
    margin-bottom: 1rem;
}
.login form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.login form .form-button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.login form button {
    background-color: #024daf;
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: 7px;
    border: none;
}

.login form button:hover {
    background-color: #014399;
}

.forget {
    text-decoration: none;
    color: #024daf;
    font-weight: bold;
}

.forget:hover {
    color: #014399;
}