* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-01 > div {
    width: 24% !important;
    margin: 5px;
    border: 2px solid #000000;
    background-color: #757575;
}

.d-flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

/* ******************************************** */
.btn {
    padding: .5rem 1rem;
    border: none;
    border-radius: 7px;
}
.btn-primary {
    background-color: #1a42f6 !important;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #1035db !important;
}

.btn-secondary {
    background-color: #06a6c2 !important;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #025e94 !important;
}

.btn-info {
    background-color: #8621e4 !important;
    color: #ffffff;
}

.btn-info:hover {
    background-color: #6912bb !important;
}