* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-content-space-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-content-space-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.btn {
  padding: .75rem 1.25rem;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.btn-primary {
  background-color: #235cf8 !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-secondary {
  background-color: #9298aa !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-info {
  background-color: #159292 !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-success {
  background-color: #15922a !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-warning {
  background-color: #dad60c !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-danger {
  background-color: #da2b0c !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-dark {
  background-color: #28272a !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-white {
  background-color: #ffffff !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-black {
  background-color: #000000 !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-primary:hover {
  background-color: #1d4fd8 !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-secondary:hover {
  background-color: #787d8b !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-info:hover {
  background-color: #107070 !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-success:hover {
  background-color: #0f6b1e !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-warning:hover {
  background-color: #bdba09 !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-danger:hover {
  background-color: #b92208 !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-dark:hover {
  background-color: #171618 !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-white:hover {
  background-color: #ffffff !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-black:hover {
  background-color: #000000 !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.bg-primary {
  background-color: #235cf8 !important;
}

.bg-secondary {
  background-color: #9298aa !important;
}

.bg-info {
  background-color: #159292 !important;
}

.bg-success {
  background-color: #15922a !important;
}

.bg-warning {
  background-color: #dad60c !important;
}

.bg-danger {
  background-color: #da2b0c !important;
}

.bg-dark {
  background-color: #28272a !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000000 !important;
}

.border {
  border: 1px solid #e6e6e6;
}

.border-b {
  border: none !important;
  border-bottom: 1px solid #e6e6e6 !important;
}

.border-t {
  border: none !important;
  border-top: 1px solid #e6e6e6 !important;
}

.border-l {
  border: none !important;
  border-left: 1px solid #e6e6e6 !important;
}

.border-r {
  border: none !important;
  border-right: 1px solid #e6e6e6 !important;
}

.border-primary {
  border-color: #235cf8 !important;
}

.border-secondary {
  border-color: #9298aa !important;
}

.border-info {
  border-color: #159292 !important;
}

.border-success {
  border-color: #15922a !important;
}

.border-warning {
  border-color: #dad60c !important;
}

.border-danger {
  border-color: #da2b0c !important;
}

.border-dark {
  border-color: #28272a !important;
}

.border-white {
  border-color: #ffffff !important;
}

.border-black {
  border-color: #000000 !important;
}

.border-1 {
  border: 1px !important;
}

.border-2 {
  border: 2px !important;
}

.border-3 {
  border: 3px !important;
}

.border-4 {
  border: 4px !important;
}

.border-5 {
  border: 5px !important;
}

.border-6 {
  border: 6px !important;
}
/*# sourceMappingURL=main.css.map */